*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.titulovi h2{
    font-family: 'Staatliches',cursive;
    color: #15B9D5;
    font-size: 2.4rem;
	transform: translateY(-150px) 
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #24c3eb;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 16px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #cc2f83;
	border: 1px solid #cc2f83;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #ff1cb3;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
.tarjeta{
	transform:translateY(-150px)
}
/*Fin-Cards*/
.icon-calendar{
	color: rgb(255, 7, 123);
	box-sizing: border-box;
	font-size: 1.3rem;
}

.icon-dollar{
	color: rgb(255, 7, 123);
	box-sizing: border-box;
	font-size: 1.3rem;
	
}
.title-cards{
	transform: translateX(4%) 
}
